@import 'colors';

body {
  font-size: 18px !important;
}

ul.featureInfo {
    display: flex;
    &.innerfeat li {
      flex: auto;
      text-align: center;
      align-self: center;
      vertical-align: middle;
    }
  }
  
  .title-post {
    width: 200px;
  }
  
  .click-btn a {
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.2);
    border-radius: 1.25rem;
  }
  
  select {
    word-wrap: normal;
    color: black;
    margin-left: 10px;
  }
  
  .time-btn {
    margin-bottom: 10px;
  }
  
  .dropdown-menu {
    position: absolute !important;
  }
  
  body {
    font-size: 15px;
  }
  
  .listImg img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    object-position: center;
  }
  
  .featured-wrap h3 a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.loginWrp {
  background: #f3f2f2;
  display: block;
  height: 95vh;
}

input {
  &#profile_title {
  width: 80%;
  margin-left: 20px;
  margin-bottom: 20px;
  }

  &#profile_address {
    margin-bottom: 10px;
  }
  
  &.qualification-time {
    width: 44% !important;
  }

  &.form-control {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    display: inline-block;
  }
}

textarea{
  width: 90%;
  margin: 5px 5px;
}

.field {
  margin: 10px;
}

.actions {
  text-align: center;
}

#error_explanation {
  background-color: #ea8585a8;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
}

a.social-btn {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  color: white;

  &.facebook {
    background-color: royalblue;
  }
  
  &.google_oauth2 {
    background-color: indianred;
  }
}

.notification-container{
  .notification-title{
    font-size: 30px;
    margin-bottom: 10px;

    span {
      font-style: italic;
      font-size: 15px;
    }
  }
  
  .notifications{
    padding: 10px;
  }

  #notificationList {
    padding: 10px;
    
    li{
      font-size: 15px;
      border-bottom: 1px solid lightblue;
      padding: 10px;

      img {
        width: 50px;
        border-radius: 50px;
      }
    }
  }
}

.table100.ver2 {
  td {
    font-size: 16px !important;
  }
}

input.search {
  margin-top: 10px !important;
  vertical-align: middle;
  padding: 2px 5px;
}

.al-r {
  text-align: right;
}

.al-l {
  text-align: left;
}

.mt-10 {
  margin-top: 10px;
}

.dropdown.notifi {
  .dropdown-menu {
    height: 325px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    li{
      width: 370px;
      margin: 2px;
    }

    div.view-all {
      text-align: center;
      position: sticky;
      bottom: 0;

      a{
        background-color: $blue-00aeef;
        display: block;
        font-weight: 600;
        padding: 5px 0;
        color: white;
      }
    }
  }
}

.viewed-false {
  background-color: $gray-ddd;
}

.viewed-true {
  background-color: transparent;
}
