@import 'adminlte';
@import 'toastr/toastr';

.dataTables_length, .dataTables_filter {
  display: none;
}

#example_paginate {
  float: right;
}

.text-center {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
